.login{
    height: 100%;
    background: darkgoldenrod;
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
}

.login-content{
    width: 300px;
    height: 30%;
    display: flex;
    flex-flow:column;
    justify-content: space-between;
    align-items: center;
}

.cyberpunk-title.cyberpunk:before{
    width: 30px;
    height: .3rem;
}