body {
	font-size: 16px;
	margin: 0;
}

#root {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	z-index: 1;
	background: #fff;
}
.app-container,
.container {
	position: relative;
	overflow: hidden;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.gm-toast-loading {
	.gatling-icon-loading {
		color: #fff;
	}
}

/* 赛博朋克霓虹 */
.neon {
	text-shadow: 0 0 3vw #f4bd0a;
	animation: neon 2s ease-in-out infinite;
}
.flux {
	text-shadow: 0 0 3vw #179e05;
	animation: flux 2s linear infinite;
}
@keyframes neon {
	0%,
	100% {
		text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128,
			0.5vw 0.5vw 0.1vw #806914;
		color: #fffc00;
	}
	50% {
		text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b,
			0.5vw 0.5vw 0.1vw #40340a;
		color: #806914;
	}
}
@keyframes flux {
	0%,
	100% {
		text-shadow: 0 0 1vw #10ff4c, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
			0.5vw 0.5vw 0.1vw #147280;
		color: #03c03c;
	}
	50% {
		text-shadow: 0 0 0.5vw #024218, 0 0 1.5vw #024713, 0 0 5vw #023812, 0 0 5vw #012707, 0 0 0.2vw #022201,
			0.5vw 0.5vw 0.1vw #011a06;
		color: #179e05;
	}
}

/* 赛博朋克标题 */
h1.cyberpunk {
	position: relative;
}
h1.cyberpunk:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0px;
	left: 2px;
	width: 100%;
	height: 10px;
	background-color: #000;
	clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}
h1.cyberpunk.glitched {
	animation-name: glitched;
	animation-duration: calc(0.9s * 1.4);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes glitched {
	0% {
		left: -4px;
		transform: skew(-20deg);
	}
	11% {
		left: 2px;
		transform: skew(0deg);
	}
	50% {
		transform: skew(0deg);
	}
	51% {
		transform: skew(10deg);
	}
	60% {
		transform: skew(0deg);
	}
	100% {
		transform: skew(0deg);
	}
}
h1.cyberpunk.glitched:before {
	animation-name: beforeglitched;
	animation-duration: calc(0.9s * 2);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes beforeglitched {
	0% {
		left: -4px;
		transform: skew(-20deg);
		clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
	}
	11% {
		left: 2px;
		transform: skew(0deg);
		clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
	}
	50% {
		transform: skew(0deg);
		clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
	}
	51% {
		transform: skew(0deg);
		clip-path: polygon(
			0px 0px,
			85px 0px,
			90px 5px,
			100% 5px,
			40% 5px,
			calc(40% - 30px) 0px,
			calc(40% + 30px) 0px,
			calc(45% - 15px) 5px,
			100% 5px,
			100% 6px,
			calc(45% - 14px) 6px,
			calc(40% + 29px) 1px,
			calc(40% - 29px) 1px,
			calc(40% + 1px) 6px,
			85px 6px,
			80px 10px,
			0px 10px
		);
	}
	60% {
		transform: skew(0deg);
		clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
	}
	100% {
		transform: skew(0deg);
		clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
	}
}
